<button *ngIf="somethingToSave()" (click)="save()">Save</button>
<hr />
<div class="container">
	<div *ngFor="let box of boxs">
		<div *ngIf="isPublisher(box.type)" id="p-{{box.elementInfo.id}}" jsplumb-draggable class="example-box publisher">
			P| {{ box.elementInfo.name }}
		</div>
		<div *ngIf="isSubscriber(box.type)" id="sc-{{box.elementInfo.id}}" jsplumb-draggable>
			<div id="s-{{box.elementInfo.id}}" class="example-box subscriber">
				S| {{ box.elementInfo.name }}
			</div>
			<div *ngFor="let process of box.child" id="pw-{{process.elementInfo.id}}" class="example-box process-work">
				PW| {{ process.elementInfo.processAnagraphicName }}. v{{ process.elementInfo.name }}
			</div>
		</div>
	</div>
</div>